name: Release (Release Please)

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: write # to create releases and tags
  pull-requests: write # to create/update release PR

jobs:
  release-please:
    name: Generate / Update Release PR
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: node
          package-name: municipall-mobile-public
          changelog-types: >-
            [{"type":"feat","section":"Features","hidden":false},
             {"type":"fix","section":"Bug Fixes","hidden":false},
             {"type":"perf","section":"Performance","hidden":false},
             {"type":"refactor","section":"Refactoring","hidden":false},
             {"type":"docs","section":"Documentation","hidden":false},
             {"type":"chore","section":"Chores","hidden":true}]
          pull-request-title-pattern: 'chore: release${component} ${version}'
          include-v-in-tag: true
          changelog-path: CHANGELOG.md
